# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vim files
.*.swp
.*.un~

# test files

audio_main
*.dSYM/

*.tgz
